__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
.conda/
conda-meta/
conda-bld/
.dockerignore
docker-compose.override.yml
.idea/
.vscode/
*.swp
*.swo
.history/
database/
